.page

	&-wrapper   // Прижимание футера
		display: flex
		flex-direction: column
		min-height: 100%
		overflow: hidden

		& > div
			&:nth-child(1)
				flex-shrink: 0
				flex-grow: 0

			&:nth-child(2)
				flex-shrink: 1
				flex-grow: 1

			&:nth-child(3)
				flex-shrink: 0
				flex-grow: 0

	&-content  // Растяжка элементов внутри контента
		display: flex
		flex-direction: column