// Настройка сетки
$grid-columns: 12
$grid-gutter: 20px
$responsive-breakpoints: (xs:(cutoff:320px, containerWidth:100%), sm:(cutoff:480px, containerWidth:100%), md:(cutoff:768px, containerWidth:100%), lg:(cutoff:1024px, containerWidth:100%), xl:(cutoff:1280px, containerWidth:100%), xxl:(cutoff:1440px, containerWidth:1440px)) !default

// Шрифты
$font1-regular: "FiraSans-Regular" // Пример

// Цвета
$color-text-red: #e51d0b // Пример

// Misc
$time: 0.3s // Таймер для transition

*
	box-sizing: border-box

html, body
	height: 100%

body
	overflow-x: hidden // Фикс горизонтальной прокрутки на macOS

@import ../../lib/sass/main

// Компоненты
@import ../components/layout/layout.sass

// Страницы
@import ../components/page/page.sass